PORT=3000
BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/teddy?schema=public
NODE_ENV=development
LOG_ENABLED=true
LOG_LEVEL=info
METRICS_ENABLED=true
METRICS_PATH=/metrics
TRACING_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=https://otel-collector:4318
OTEL_SERVICE_NAME=teddy-test
SENTRY_ENABLED=false
SENTRY_DSN=
RABBITMQ_ENABLED=true
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=url_hits
RABBITMQ_PREFETCH=50
JWT_SECRET=uma-chave-bem-grande-e-segura
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=outra-chave-bem-grande-e-segura
JWT_REFRESH_EXPIRATION=7d
RABBITMQ_ENABLED=true
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=url_hits
RABBITMQ_PREFETCH=50